$bgColor: rgb(38, 8, 41);
$borderColor: rgb(255, 255, 255);
$buttonBgColor: rgb(161, 26, 143);
$textColor: rgb(255, 255, 255);

#rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95vw;
  height: 95vh;
  background-color: $bgColor;
  border-radius: 3vw;

  padding: 3vw;
}

#rules-title {
  font-size: 5vw;
  color: $textColor;
  text-decoration: underline;
}

#rules-body {
  font-size: 3vw;
  color: $textColor;
}

.close-button {
  display: inline;
  width: auto;
  height: auto;
  padding: 0;

  background-color: $buttonBgColor;

  border-radius: 18px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;

  color: $textColor;

  &:hover {
    background-color: darken($color: $buttonBgColor, $amount: 10);
  }

  &:focus {
    border-style: solid;
    border-color: $borderColor;
  }

  &.is-phone-portrait {
    height: 11vw;
  }

  .close-icon {
    width: 5vw;
    // Filter trick to make the arrow white.
    filter: invert(97%) sepia(80%) saturate(0%) hue-rotate(19deg)
      brightness(113%) contrast(101%);

    &.is-phone-portrait {
      width: 10vw;
    }
  }
}
