$bgColor: rgb(38, 8, 41);
$borderColor: rgb(255, 255, 255);
$buttonBgColor: rgb(161, 26, 143);
$textColor: rgb(255, 255, 255);

#rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95vw;
  height: 95vh;
  background-color: $bgColor;
  border-radius: 3vw;

  padding: 3vw;
  padding-top: 2vw;

  overflow-y: auto;
  overflow-x: hidden;

  &.is-phone-portrait {
    width: 95vw;
    height: 90vh;
  }
}

#rules-title {
  font-size: 5vw;
  color: $textColor;
  text-decoration: underline;
  margin-bottom: 1vw;

  &.is-phone-portrait {
    font-size: 9vw;
    margin-bottom: 2vw;
  }
}

#rules-body {
  font-size: 3vw;
  color: $textColor;

  &.is-phone-portrait {
    font-size: 6vw;
  }
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;

  transform: translate(-25%, 25%);

  display: flex;
  width: auto;
  height: auto;
  padding: 0.5vw;

  background-color: $buttonBgColor;

  border-radius: 18px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;

  color: $textColor;

  align-items: center;
  flex-direction: column;

  &:hover {
    background-color: darken($color: $buttonBgColor, $amount: 10);
  }

  &:focus {
    border-style: solid;
    border-color: $borderColor;
  }

  .close-icon {
    width: 5vw;
    // Filter trick to make the arrow white.
    filter: invert(97%) sepia(80%) saturate(0%) hue-rotate(19deg)
      brightness(113%) contrast(101%);

    &.is-phone-portrait {
      width: 9vw;
    }
  }
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $buttonBgColor;
  border-radius: 0.25vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: darken($color: $buttonBgColor, $amount: 10);
}