$textColor: white;
$buttonBgColor: rgb(161, 26, 143);
$borderColor: rgb(255, 255, 255);

#title-container {
  display: inline-block;
  width: auto;
  height: auto;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: $textColor;
  text-align: center;
  font-family: "Roboto";
  font-size: 10vw;
  font-weight: bold;

  margin-bottom: 50px;
}

.answer-button {
  display: block;
  width: auto;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  margin: auto;

  background-color: $buttonBgColor;

  border-radius: 18px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;

  font-size: 4vw;
  font-family: "Roboto";
  text-align: center;
  color: $textColor;

  &:hover {
    background-color: darken($color: $buttonBgColor, $amount: 10);
  }

  &:focus {
    border-style: solid;
    border-color: $borderColor;
  }
}
